{% extends "partials/layouts/base.html" %}

{% block title %} Create or Update Bank Account {% endblock %}

{% block content %}

<form action="{% url 'core:account_new' %}" method="post">
  {% csrf_token %}
  <label for="name">Name</label>
  <input class="form-control" type="text" name="name" id="name">
  <label for="balance">Balance</label>
  <input class="form-control" type="number" name="balance" id="balance">
  <label for="provider">Provider</label>
  <select class="form-control" name="provider" id="provider">
    {% for provider in providers %}
      <option value="{{ provider.code }}">{{ provider.name }}</option>
    {% endfor %}
  </select>
  <button class="button button-default button-size-default" type="submit">Save</button>
</form>
{% endblock %}
