{% extends "partials/layouts/base.html" %}
{% block title %} Create or Update Bank Account {% endblock %}
{% block content %}

<form
  class="max-w-xl mx-auto space-y-4"
  action="{% url 'core:account_new' %}"
  method="post"
>
  {% csrf_token %}
  <label for="name">Name</label>
  <input class="input input-bordered w-full" type="text" name="name" id="name" />
  <label for="balance">Balance</label>
  <input
    class="input input-bordered w-full"
    type="number"
    name="balance"
    id="balance"
  />
  <label for="provider">Provider</label>
  <select class="input input-bordered w-full" name="provider" id="provider">
    {% for provider in providers %}
    <option value="{{ provider.code }}">{{ provider.name }}</option>
    {% endfor %}
  </select>
  <button class="btn btn-primary" type="submit">Save</button>
</form>
{% endblock %}
