{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en" data-theme="{{ request.COOKIES.theme }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    {% render_bundle 'main' 'css' %}
    {% render_bundle 'main' 'js' %}
  </head>
  <body>
    {% if request.user.is_authenticated %}
    <div class="flex flex-col items-start">
      {% include "partials/navbar.html" %}
      <div class="flex w-full">  
        {% include "partials/aside.html" %}
        <main class="p-4 w-full">
          {% block content %}{% endblock %}
        </main>
        </div>
      </div>
    {% endif %}
  </body>
</html>