{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    {% render_bundle 'main' 'css' %}
    {% render_bundle 'main' 'js' %}
  </head>
  <body class="max-w-screen-lg mx-auto">
  <form action="{% url 'logout' %}" method='post'> 
  {% csrf_token %}
    <button> logout </button>
  </form>
    {% block content %}{% endblock %}
  </body>
</html>