{% extends "partials/layouts/base.html" %}

{% block title %} Transactions {% endblock %}

{% block content %}

<h1>Transactions</h1>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
{% for transaction in transactions %}
  <tr class="hover cursor-pointer" onclick="window.location='{% url 'core:transaction_show' transaction.id %}'">
    <td>
        {{ transaction.title }}
    </td>
    <td class='{% if transaction.transaction_type == "EXPENSE" %}text-red-500{% else %}text-green-500{% endif %}'>
        {% if transaction.transaction_type == "EXPENSE" %}
            -
        {% else %}
            +
        {% endif %}
        {{ transaction.amount }}
    </td>
    <td>
        {{ transaction.date }}
    </td>
    <td>
        {{ transaction.transaction_type|title }}
    </td>
  </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
