{% extends "partials/layouts/base.html" %}

{% block title %} Transaction {% endblock %}

{% block content %}

<h1>{{ transaction.title }}</h1>
<p>{{ transaction.amount }}</p>
<p>{{ transaction.date }}</p>
<p>{{ transaction.description }}</p>
<p>{{ transaction.transaction_type }}</p>
<p>{{ transaction.from_account }}</p>
<p>{{ transaction.from_card }}</p>

<a href="{% url 'core:transaction_edit' transaction.id %}">Edit</a>
<form action="{% url 'core:transaction_destroy' transaction.id %}" method="post">
  {% csrf_token %}
  <button type="submit">Delete</button>
</form>


{% endblock %}
