<table class="min-w-full divide-y divide-gray-200">
  <thead class="bg-gray-50">
    <tr>
      {% for key, value in headers.items %}
      <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">{{ value }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    {% for row in values %}
    <tr>
      {% for key in headers.keys %}
      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ row.key }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
