{% extends "partials/layouts/base.html" %}

{% block content %}
    <h1>User Preferences</h1>
    <form class="flex items-start gap-2 flex-col justify-start" action="{% url 'core:settings_edit' %}" method="post">
        {% csrf_token %}
        <label for="theme">Theme</label>
        <select name="theme" id="theme" onchange="this.form.submit()">
            <option value="light" {% if request.COOKIES.theme == "light" %}selected{% endif %}>Light</option>
            <option value="dark" {% if request.COOKIES.theme == "dark" %}selected{% endif %}>Dark</option>
            <option value="cupcake" {% if request.COOKIES.theme == "cupcake" %}selected{% endif %}>Cupcake</option>
            <option value="emerald" {% if request.COOKIES.theme == "emerald" %}selected{% endif %}>Emerald</option>
            <option value="autumn" {% if request.COOKIES.theme == "autumn" %}selected{% endif %}>Autumn</option>
            <option value="forest" {% if request.COOKIES.theme == "forest" %}selected{% endif %}>Forest</option>
            <option value="retro" {% if request.COOKIES.theme == "retro" %}selected{% endif %}>Retro</option>
        </select>
          
    </form>
{% endblock %}
