{% extends "partials/layouts/base.html" %} 

{% block title %} Transaction List {% endblock %} 

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">
      Transaction List
    </h1>
    <a href="{% url 'core:transaction_new' %}" class="button">Create Transaction</a>
    <p class="subtitle">
      My first website with <strong>Bulma</strong>!
    </p>
  </div>
  {% include "partials/transaction_table.html" with transactions=transactions %}
</section>
{% endblock %}
