<div class="navbar">
    <div class="flex-1">
      {% include "partials/breadcrumbs.html" %}
    </div>
    <div class="flex-none gap-2">
      {% include "partials/page_actions.html" %}
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img
              alt="Tailwind CSS Navbar component"
              src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
          </div>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li><a href="{% url 'core:settings_edit' %}">Settings</a></li>
          <li>
            <form action="{% url 'logout' %}" method='post'> 
              {% csrf_token %}
              <button class="">logout</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>