{% extends "partials/layouts/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h2 class="py-10 text-2xl font-bold">Recent Transactions</h2>
  {% if transactions %}
    <table class="table">
      <thead>
          <tr>
            <th>Title</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
          <tr class="hover cursor-pointer" onclick="window.location='{% url 'core:transaction_show' transaction.id %}'">
            <td>{{ transaction.title }}</td>
            <td class='{% if transaction.transaction_type == "EXPENSE" %}text-red-500{% else %}text-green-500{% endif %}'>
              {% if transaction.transaction_type == "EXPENSE" %}
                -
              {% else %}
                +
              {% endif %}
              {{ transaction.amount }}
            </td>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.transaction_type|title }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="flex flex-col items-center justify-center gap-4">
      <p class="text-center text-lg font-bold">No transactions yet! Add one now!</p>
      <div class="flex justify-center">
        <a href="{% url 'core:transaction_new' %}" class="btn btn-primary btn-sm">New Transaction</a>
      </div>
    </div>
  {% endif %}

  <h2 class="py-10 text-2xl font-bold">Accounts</h2>
  {% if accounts  %}
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        {% for account in accounts %}
          <tr class="hover cursor-pointer" onclick="window.location='{% url 'core:account_show' account.id %}'">
            <td>{{ account.name }}</td>
            <td>{{ account.balance }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="flex flex-col items-center justify-center gap-4">
      <p class="text-center text-lg font-bold">No accounts yet! Add one now!</p>
      <div class="flex justify-center">
        <a href="{% url 'core:account_new' %}" class="btn btn-primary btn-sm">New Account</a>
      </div>
    </div>
  {% endif %}
{% endblock %}
